$main_padding: 1rem;

.hide {
  display: none;
}

body {
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

main {
  margin: auto;
  padding: $main_padding;
  max-width: 800px;
  position: relative;
}

.button_1 {
  position: absolute;
  top: 2rem;
  left: $main_padding;
}

.button_2 {
  position: absolute;
  top: 2rem;
  right: $main_padding;
}

h1 {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.error {
  border: 1px solid red !important;
}

%color {

}

.colorField {
  width: 100vw;
  /*border: 1px solid black;*/
  height: 100vh;
  position: fixed;
  z-index: -1000;

  .colorField__selector {
    height: 80vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
  }

  .colorField__button {
    z-index: 1000;
  }
}